<header class="header-home">
    <div class="title">
        {% if page.title != "Home" %}
            <a href="{{ site.url }}">
        {% endif %}
        <span class="name">{{ site.name }}</span>
        <span class="description">{{ site.description }}</span>
        {% if page.title != "Home" %}
            </a>
        {% endif %}
    </div>
    <div class="menu">
        <ul>
            <li><a href="{{ site.inara }}" target="_blank">Inara</a></li>
            <li><a href="{{ site.coriolis }}" target="_blank">Coriolis</a></li>
        </ul>
    </div>
</header>