---
layout: page
---

<div class="imagepost">
    <div class="metadata">
        <div class="info">
            <h1 class="title">{{ page.title }}</h1>

            <span class="date">
                <time datetime="{{ page.date | date:"%d-%m-%Y" }}">{{ page.date | date: "%A. %B %d, %Y" }}</time>
                {% if site.read-time %} - {% include read-time.html %}{% endif %}
            </span>

            {{content}}

            {% include pagination.html %}
        </div>
    </div>
    <div class="image">
    {% if page.image %}
        <img src="{{ page.image }}" />
    {% else %}
        {% for image in page.images %}
            <img src="{{ image }}" />
        {% endfor %}
    {% endif %}
    </div>
</div>